body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color:#131111;
  
}



.background {
  width: 100%;
  height: 100vh;
  background: #F0F0F0;
  color: #1a1b1d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.homepage{
  width: 100vw; 
  height: 100vh;
  background: #F0F0F0;
  color: #1a1b1d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.button-login{
  color:#000;
  width: 270px;
  height: 50px;
  border: 1px #131111 solid;
  text-align: center;
  line-height: 50px;
  background-color: #ebebeb;
}
.button-clickable{
  background-color: #fff;
  color:#131111;
}
.button-clickable:hover{
background-color:#94FFEA ;
}

input{
 
  all: unset;
  width: 250px;
  height: 30px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px #131111 solid;
}

input:-webkit-autofill {
  background-color:#ffffff !important; /* Remove background color */
  border: 1px solid #131111 !important;  /* Restore border on focus */
}

input:-webkit-autofill:focus {
  background-color: #ffffff !important;
  border: 1px solid #131111 !important;  /* Restore border on focus */
}

input:focus {

  box-shadow: none; /* Removes any box shadow */
}

.input-warning{
  border:1px solid #c30f0f;
}
.input-warning:-webkit-autofill {
  background-color:#ffffff !important; /* Remove background color */
  border: 1px solid #c30f0f !important;  /* Restore border on focus */
}
.input:focus{
  border: 1px solid #131111;
}
.kanban {
  width: 90%;
  height: 100%;
  margin: auto;
  margin-top: 3%;
}

.loading{
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 700px;
  width: 100%;

}

p {
  width: 100%;
  display: inline-block;
  font-size: medium;
  margin: 0;
  word-wrap: break-word;
}

.textOnHover{
  padding-top: 5px;
  display: flex;
  align-self: center;
  transition: font-size 0.3s ease;
}
.textOnHover:hover{
font-weight: 800;
font-size: 20px;
}
.kanbanTitle {

  display: flex;
  align-items: center;
  margin-bottom: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #131111;
}

h2 {
  font-size: xx-large;
}

.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #94FFEA; 
  text-align: right;
  padding: 32px;
  font-size: small;
  box-sizing: border-box;
}

.kanbanTitleIcon {
  padding-top: 5px;
  margin-left: 8px;
}


.kanbanLeft {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-container {
  position: relative;
  width: 70%;
  min-width: 350px;
}

.logo-shadow {
  position: absolute;
  top:80px; /* Adjust the shadow offset */
  left: 20px; /* Adjust the shadow offset */
  background-color: #94FFEA; /* Shadow color */
  width: 100%;
  aspect-ratio: 1;
  // height: 100%;
  z-index: 0;
}


.flip_wrap{
  display:inline-block;
  // width:300px;
  // height:220px;
  width:100%;
  aspect-ratio: 1;
  z-index: 1;
  margin: 50px;
  perspective:800px;
  box-sizing:border-box;
}
.flip{
  width: 100%;
  height:100%;
  backface-visibility:hidden;
  transition: all 1s ease;
  transform-style:preserve-3d;
}
.side{
  width:100%;
  height: 100%;
  position:absolute;
  left:0;
  top:0;
/*   color: #fff; */
  text-align:ceter;
}
.front{
  backface-visibility:hidden;
  border: 1px solid #000000;
  font-size: 18px;
  background:rgb(255, 255, 255);
}
.back{
  border: 1px solid #000000;
  backface-visibility:hidden;
  transform: rotateY(180deg);
  background:rgb(255, 255, 255);
  padding: 0 36px;
  box-sizing:border-box;
}


.flip_wrap:hover .flip{
  transform : rotateY(180deg);
  
}

.kanban-container {
  margin-left: 8px;
  position: relative;
  display: inline-block;
}

.kanban-shadow {
  position: absolute;
  top: 8px; /* Adjust the shadow offset */
  left: -8px; /* Adjust the shadow offset */
  background-color: #94FFEA; /* Shadow color */
  width: 100%;
  height: 100%;
  z-index: 0;
}

.kanban-title {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  background-color: white; /* Main background */
  padding: 10px 20px;
  border: 1px solid black; /* Border for the main box */
  z-index: 1; /* Ensure this appears above the shadow */
}

.logo-text1{
  position: absolute;
  bottom: 20px;
  left:20px;
  font-size: x-large;
  color: #131111;
  text-decoration: underline;
}



.logo-text2{
  position: absolute;
  top: 20px;
  right:20px;
  font-size: 70px;
  font-weight: 700;
  line-height: 70px;
  color:#131111
}
.font-color{
  color: #94FFEA;
}

.kanban-text{
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  font-size: 24px;
  font-weight: bold;
  background-color: white; /* Main background */
  padding: 10px 20px;
  border: 1px solid black; /* Border for the main box */
  z-index: 1; /* Ensure this appears above the shadow */
}

.tableContainer {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4%;
}



.link{
  transition: font-weight 0.3s ease; 
  display: grid;
  justify-items: center;
  font-size: small;
  font-weight: 500;
  color: #8f9297fe;
}

.link:hover {
  color: #131111;
  text-decoration: underline; 
}
.logo{
  position: absolute;
  top:40px;
  left:40px;
  width: 100px; /* Set width */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease; 
}

.logo:hover{
  transform: scale(1.05);
}
/* CSS */

.tableColumn {
  // background-color: rgb(255, 255, 255);
  // border-radius: 10px;

  min-height: 50%;
}
.tableHeader {
  width: 220px;
  font-size: large;
  margin-bottom: 2%;
}
.delete {
  width: 40px;
  height: 20px;
}
.item {
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  border: #131111 1px solid;
  margin-top: 5%;
  cursor: grab;
  padding: 15px;
}

.item-hover:hover {
  background-color: #F3FFFD;
  transform: scale(1.01);
}
.item-focus {
  box-shadow: inset 0 0 0 1.5px #94FFEA;
  padding-left: 7px;
}

.tableTitle {
  margin: 0 0 10px 0;
  flex-grow: 1;
}

[contenteditable] {
  outline: 0px solid transparent;
}

.home-container{
  position: relative;
  
  min-width: 250px;
  background: #000;
}

.text-center{
  margin-top: 50px;
  text-align: center;
  font-size: small;
}


.center-content{
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  justify-items: center;
  align-items: center;
}



.logincontainerTitle {
  font-size: xx-large;
  font-weight: 700;
}

.contextmunu {
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0px 2px 10px rgba(0, 0, 10, 0.083);
  z-index: 1000;
}

.contextmunu:hover {
  background-color: #f3f4f6;
}
